$container-background-color: rgb(240, 242, 245);
$secondary-background-color: white;
$primary-font-color: rgba(107, 124, 133);
$chat-list-separator-color: #E9EDEF;
$chat-separator-color: #E9EDEF;
$active-chat-separator-color: #d7dadc;
$active-chat-background-color: rgba(0, 0, 0, 0.08);
$active-chat-font-color: rgb(99, 114, 123);
$chat-hover-font-color: rgb(104, 120, 129);
$chat-hover-background-color: rgba(0, 0, 0, 0.03);
$chat-hover-separator-color: rgba(226, 230, 232);
$chat-conversation-background-color :rgb(240, 235, 227);
$user-message-color: rgba(217, 253, 211, 0.7);
$message-font-color: #111B21;
$profile-icon-background-color: #cfd5d7;
$scroll-bar-background: transparent;
$scroll-bar-thumb-color: rgb(198, 198, 198);

$large-font-size: 20px;
$medium-font-size: 18px;
$primary-font-size: 16px;
$secondary-font-size: 14px;
$smaller-font-size: 7px;
